<app-admin-dashboard></app-admin-dashboard>
<div class="table-container mat-elevation-z8">
    <h2>Controle de Usuários</h2>
    <mat-table mat-table [dataSource]="dataSource">
      <!-- Defina as colunas aqui -->

       
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{ item.id }}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>NOME </th>
        <td mat-cell *matCellDef="let item">{{ item.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef>DATA NASCIMENTO</th>
        <td mat-cell *matCellDef="let item">{{ item.dataNascimento }}</td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let item">{{ item.cpf}}</td>
      </ng-container>
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>TELEFONE</th>
        <td mat-cell *matCellDef="let item">{{ item.telefone }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
        <td mat-cell *matCellDef="let item">{{ item.email }}</td>
      </ng-container>
      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef>CEP</th>
        <td mat-cell *matCellDef="let item">{{ item.cep }}</td>
      </ng-container>
      <ng-container matColumnDef="enderecoCompleto">
        <th mat-header-cell *matHeaderCellDef>ENDEREÇO</th>
        <td mat-cell *matCellDef="let item">{{ item.enderecoCompleto }}</td>
      </ng-container>
      <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef>BAIRRO </th>
        <td mat-cell *matCellDef="let item">{{ item.bairro }}</td>
      </ng-container>
      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef>CIDADE</th>
        <td mat-cell *matCellDef="let item">{{ item.cidade }}</td>
      </ng-container>
      <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef>UF</th>
        <td mat-cell *matCellDef="let item">{{ item.uf }}</td>
      </ng-container>
      
      <ng-container matColumnDef="complemento">
        <th mat-header-cell *matHeaderCellDef>COMPLEMENTO</th>
        <td mat-cell *matCellDef="let item">{{ item.complemento }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th class ="acoes" *matHeaderCellDef>AÇÕES</th>
        <mat-cell *matCellDef="let cadastro">
          <button class="atualizar "  matTooltip="Atualizar" (click)="irParaAtualizacao(cadastro)">
           Atualizar
          </button>
          
          <button  class="excluir"matTooltip="Excluir" (click)="deleteCadastro(cadastro)">
            <mat-icon>delete</mat-icon>
          </button>

          

        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </mat-table>

    <button class="sair"matTooltip="Voltar para tela inicial" (click)="sair()" value="Sair">
      VOLTAR
    </button>