<app-header></app-header>

<div class="services-container">
    <h2>Agende seu horário agora mesmo <button class="button-blink" routerLink="/form-registrar">Realizar agendamento</button> </h2>
    
    
    <div class="services">
      <div class="service-item">
        <img class="img" src="/assets/corte.jpg " alt="Corte de Cabelo">
        <h3>Corte de Cabelo</h3>
        <p>Oferecemos cortes modernos e estilosos para todos os gostos. A partir de R$ 30,00</p>
      </div>

      <div class="service-item">
        <img class="img" src="/assets/mechas.jpg" alt="Mechas de cabelo">
        <h3>Mechas</h3>
        <p>Transforme seu visual com mechas que adicionam luz e profundidade ao seu cabelo. Oferecemos técnicas personalizadas para criar um efeito natural e deslumbrante, adaptado ao seu estilo. A partir de R$ 150,00 (a depender do tamanho do cabelo)</p>
      </div>
       
      <div class="service-item">
        <img class="img" src="/assets/Escova-salão.webp " alt="Escova de cabelo" >
        <h3>Escova de cabelo</h3>
        <p>Revitalize seu visual com nossa técnica de escova de cabelo, que garante um acabamento liso e sofisticado.Nossa escova transforma seu cabelo.
            A partir de R$ 45,00 (a depender do tamanho do cabelo)
        </p>
      </div>

      <div class="service-item">
        <img class="img" src="/assets/hidrataçãoo.jpg" alt="hidratação cabelo">
        <h3>Hidratação</h3>
        <p>Proporcione ao seu cabelo uma dose intensa de hidratação com nosso tratamento especializado. Ideal para cabelos secos e danificados, nossa hidratação deixa seus fios macios, brilhantes e revitalizados.
            A partir de R$ 50,00 (a depender do tamanho do cabelo)
        </p> 
      </div>

      <div class="service-item">
        <img class="img" src="/assets/manicure e pedicure.jpg " alt="Manicure/pedicure">
        <h3>Manicure e pedicure</h3>
        <p>Cuidado completo para suas unhas com técnicas modernas. Por apenas R$ 38,00</p>
      </div>

      <div class="service-item">
        <img class="img" src="/assets/nailsdesign.jpg " alt="Nails design ">
        <h3>Nails design</h3>
        <p>Explore a arte das unhas com nosso serviço de Nails Design, que inclui técnicas modernas como o gel. Por apenas R$ 120,00</p>
      </div>

      <div class="service-item">
        <img  class="img" src="/assets/botox.jpg " alt="Botox Capilar ">
        <h3>Botox Capilar</h3>
        <p>Revitalize seus fios com nosso tratamento de Botox Capilar. Este procedimento restaura a saúde e o brilho dos cabelos, reduzindo frizz e promovendo uma textura suave e sedosa.  A partir de R$ 100,00 (a depender do tamanho do cabelo)</p>
      </div>

      


      </div>
  </div>

