
.services-container {
    background: linear-gradient(135deg, #14051E, #2A0D4C, #6F00FF);
    padding: 60px 20px;
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
  }
  
  .services-container h2 {
    font-size: 2.2rem;
    color: rgb(172, 168, 168);
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
  }
  
   
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  
  
  .service-item {
    background: #e4d9eb;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(25% - 20px);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slideUp 0.5s ease-in-out;
  }
  
  .service-item img {
    width: 45%;
    height: 50%;
    border-radius: 10px;
  }
  
  .service-item h3 {
    font-size: 1.8rem;
    margin: 20px 0 10px;
  }
  
  .service-item p {
    font-size: 1rem;
    color: #666;
  }
  
  .service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .button-blink{
   
      background-color:rgb(129, 59, 77);
      margin-left: 80px;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      transition: background-color 0.3s ease;
      animation: blink 1.5s infinite; /* Aplica a animação com duração de 1.5s, repetindo infinitamente */
    }
    
    .button-blink:hover {
      background-color: rgb(104, 23, 30);
    }

    @keyframes blink {
      0%, 100% {
        opacity: 1; /* Começa e termina com 100% de opacidade */
      }
      50% {
        opacity: 0.5; /* No meio da animação, a opacidade é reduzida para 50% */
      }
    }
  
  /* Animações */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  
  @media (max-width: 768px) {
 

    .service-item {   
         
      width: calc(100% - 40px); 
      max-width: 500px;
      height: 300px;
    }
  h2 {
        font-size: 1.5rem;
    align-items: center;
  }
   
  .button-blink{
    width: 30%;
    font-size: 12px;
    text-align: center;
    margin: 15px;
  }
  .service-item p {
  font-size: 0.8rem;
  line-height: 1;
   
 }
 

   }
  
  @media (max-width: 480px) {
    .service-item {
      width: calc(100% - 40px);  
    }

     
  
  }