<app-header></app-header>
<section class="about">
  <div class="container">
      
    <div class="story">
      <h2>Nossa História</h2>
      <p>Desde a nossa abertura, em 2000, o Salão BelezaVIP tem sido um refúgio de beleza e bem-estar na comunidade. Fundado por Simone Santos, uma experiente profissional da beleza com mais de 20 anos de experiência, nosso salão começou com o objetivo de oferecer um atendimento personalizado e de alta qualidade para todos os nossos clientes.</p>
      
    </div>
    
    <div class="mission-vision">
      <h2>Missão</h2>
      <p>Nossa missão é proporcionar uma experiência de beleza excepcional e personalizada para cada cliente que entra em nosso salão. Combinamos técnicas modernas e tradicionais, usando produtos de alta qualidade para garantir que cada visita seja não apenas um tratamento de beleza, mas uma experiência relaxante e revigorante.</p>
      
      <h2 >Contato</h2>
      <p >(81) 98888-1521<br>
        (81) 97452-2145 <br>
        (81) 3232-1456 </p>
    </div>
    <div class="visit-us">
      <h2>Visite-nos</h2>
      <div class="info-container">
        <div >
          <address>
            <strong>Endereço:</strong><br>
            Avenida Presidente Kennedy, 688<br>
            Peixinhos, Olinda-PE<br>
          </address>
          <p class="text-info" ><strong>Horário de Funcionamento:</strong><br>
          Segunda a Sexta: 9h - 19h<br>
          Sábado: 9h - 17h<br>
          Domingo: Fechado</p>
        </div>
        <img src="assets/maps.JPG" alt="Imagem de Localização" class="location-image">
      </div>
    </div>
  </div>
</section>