
  
<nav class="menu">
  <div class="menu-hamburger">
      <button class="hamburger" (click)="toggleMenu()">&#9776;</button>
  </div>
    <ul [class.open]="menuOpen">
      <li><a routerLink="/dashboard" (click)="closeMenu()" >Inicio</a></li>
      <li><a routerLink="/formulario-cadastro" (click)="closeMenu()" >Cadastre seus dados</a></li>
      <li><a routerLink="/lista-cadastro" (click)="closeMenu()" >Seu Cadastro</a></li>
      <li><a routerLink="/lista-agendamento" (click)="closeMenu()" >Meus Agendamentos</a></li>
      <li><a routerLink="/agendar-usuario" (click)="closeMenu()" >Novo Agendamento</a></li>
      
      
    <div class="button-container">
      <button (click)="logout()">Sair</button>
      </div>
    </ul>
  </nav>
